# Access Data

SYSTEM="ERQ"
MANDT="200"
USER="user"
PASSWD="password"
LANGUAGE="ES"

# Validate Data

# Parámetros de validación
VALID_FLOWS=mat_orgvent_candistr,orgvent_candistr_sec_ramo_mat,orgven_candist_sec_gpoart,orgvent_candistr_gpoart
VALID_ORG_VENTA=1000
VALID_CAN_DISTR=10,20,30,40,50
VALID_SECTOR=10,20,30,40,50
VALID_RAMO=ZDET,ZCON,ZPROY
VALID_UNIDAD_MEDIDA=UN,MT,PT

# FLOW_FIELDS como JSON string (para el diccionario)
FLOW_FIELDS={"mat_orgvent_candistr": ["MATERIAL", "UNIDAD_DE_MEDIDA", "IMPORTE", "ORG_VENTA", "CAN_DISTR"], "orgvent_candistr_gpoart": ["ORG_VENTA", "CAN_DISTR", "GRUPO_ARTICULO", "IMPORTE"], "orgvent_candistr_sec_ramo_mat": ["ORG_VENTA", "CAN_DISTR", "SECTOR", "RAMO", "MATERIAL"], "orgven_candist_sec_gpoart": ["ORG_VENTA", "CAN_DISTR", "SECTOR", "RAMO", "GRUPO_ARTICULO"]}